body {
  background-color:#FFFFFF;
  font-family: "Arial", sans-serif;
  font-size: medium;
  margin:0;
  padding:0;
  color: #000000;
}

.main {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 160px;
}

img {
  display: inline;
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

.header {
  background-color: #eee;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  margin: 0;
  padding: 0;
}

.header_left,
.header_right {
  padding: 30px 70px;
}

.header_left {
  float: left;
  max-width: 75px;
}

.header_right {
  float: right;
  max-width: 110px;
}


.text_b7 {
  color: #ff8700;
}

.graph {
  display: block;
}

.table_img{
  width: 100%;
}

.summary_table {
  border-collapse:collapse;
  border: 1px solid black;
}

.summary_table td {
  border: 1px solid black;
  padding: 10px;
  margin: 0;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.graph_description {
  margin-bottom: 20px;
  font-size: medium;
  font-style: italic;
}

.color_red {
  color: red;
}

.color_green {
  color: green;
}

.color_grey {
  color: #999999;
}

/* Changes to nvd3 css */

/* data points on graph over time */
.nvd3 .nv-groups .nv-point {
  stroke-opacity: 0.5 !important;
  stroke-width: 5px;
}

/* text on piechart */
.nv-label text {
  font-size: 10pt;
  font-weight: bold;
  text-shadow:
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;
}
