body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #FFFFFF;
  background-attachment: fixed;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #333;
}

h1 {
  font-size: 250%;
  margin-bottom: 70px;
}

img {
  display: inline;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

.container {
  display: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

.header {
  width: 100%;
  margin-top: 50px;
}

.footer {
  background-color: #eee;
  width: 100%;
  position: fixed;
  bottom: 0;
  border: 0;
  margin: 0;
  padding: 0;
}

.footer_left {
  float: left;
  padding: 50px 70px;
  max-width: 125px;
}

.footer_right {
  float: right;
  padding: 50px 70px;
  max-width: 175px;
}

.form_div {
  display: inline-block;
  text-align: left;
  margin-top: 20px;
}

.text_center {
  text-align: center;
}

.text_b7 {
  color: #ff8700;
}

.table_smiley {
  padding: 20px;
  width: 100%;
}

.table_smiley td {
  width: 20%;
  padding: 5px;
}

.img_smiley_hide {
  display: none;
}

.img_smiley {
  cursor: pointer;
  width: 100%;
}

.img_choice {
  width: 100%;
  cursor: pointer;
}

.img_smiley_selected {
  opacity: 0.5;
}

.button_div {
  width: 320px;
  padding: 15px 15px;
  background:#ff8700;
  border:0 none;
  margin-top: 15px;
  margin-bottom: 20px;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  font-size: large;
  display: inline-block;
}


.graph {
  display: inline;
}

input,
textarea {
  font: "Arial", sans-serif;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  border: 1px solid #ddd;
  display: block;
  min-height: 1.25em;
  width: 100%;
  padding: .75em;
  height: 44px;

  color: #aaa;
  background-color: #eee;

  -webkit-border-radius: 0.6em;
  -moz-border-radius: 0.6em;
  -ms-border-radius: 0.6em;
  -o-border-radius: 0.6em;
  border-radius: 0.6em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: .25em;

  /* Move labels so they align better with fields when using rounded corners */
  margin-left: .3em;

  color: #666;
}

fieldset {
  border: 1px solid #e5e5e5;
  padding: 25px 25px 10px;
  color: #888;
  width: 320px;

  -webkit-border-radius: 0.6em;
  -moz-border-radius: 0.6em;
  -ms-border-radius: 0.6em;
  -o-border-radius: 0.6em;
  border-radius: 0.6em;
}

/* 1. Correct `color` not being inherited in IE 8/9. */
/* 2. Remove padding so people aren't caught out if they zero out fieldsets. */
/* line 222, ../sass/base/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  padding-left: 10px;
  padding-right: 10px;

  font-size: 175%;
  color: #888;
}

.div-float {
  float: left;
}

.input-div-inline {
  display: inline-block;
  margin-right: 70px;
  margin-bottom: 40px;
}

.fieldset-text {
  text-align: left;
}

.background_color_grey {
  background: #888;
}

.img_div {
  display: inline-block;
  width: 19%;
}
