body {
  background-color:#FFFFFF;
  font-family: "Arial", sans-serif;
  font-size: medium;
  margin:0;
  padding:0;
  color: #000000;
}

.main {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 160px;
}

img {
  display: inline;
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

.header {
  background-color: #eee;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  margin: 0;
  padding: 0;
}

.header_left,
.header_right {
  padding: 30px 70px;
}

.header_left {
  float: left;
  max-width: 75px;
}

.header_right {
  float: right;
  max-width: 110px;
}

.text_b7 {
  color: #ff8700;
}
